<ion-view title="Ingreso al Registro de Horas">
    <ion-content>
        <div class="padding-left padding-top padding-right">
            <h1>Bienvenido</h1>
        </div>
        <div>
            <div class="list list-inset">
                <label class="item item-input">
                    <input ng-model="username" type="text" placeholder="Usuario" />
                </label>
                <label class="item item-input">
                    <input ng-model="password" type="password" placeholder="Contraseña" />
                </label>
            </div>
            <div class="padding">
                <button ng-click="login(username, password)" class="button button-block button-stable">Ingresar</button>
                <button ng-click="register(username, password)" class="button button-block button-dark">Registrarse</button>
            </div>
        </div>
    </ion-content>
</ion-view>