<ion-view view-title="Registro de Horas" hide-back-button="true">
  <ion-content>
    <div class="list">
      <a href="#/user" class="item item-icon-left">
        <i class="icon ion-social-reddit-outline"></i> Cuenta
      </a>
      <a href="#/resumen" class="item item-icon-left">
        <i class="icon ion-social-buffer-outline"></i> Resumen
      </a>
      <a href="#/registro" class="item item-icon-left">
        <i class="icon ion-clipboard"></i> Registro
      </a>
    </div>
  </ion-content>
</ion-view>